# Cleaning Data

In [1]:
# importing packages
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
# reading the raw data csv, dropped one data point 
dino_rawr_data = pd.read_csv('data.csv')#.drop(['taxonomy', 'named_by', 'species', 'link'], axis = 1)
dino_rawr_data

,name,diet,period,lived_in,type,length,taxonomy,named_by,species,link
0,aardonyx,herbivorous,Early Jurassic 199-189 million years ago,South Africa,sauropod,8.0m,Dinosauria Saurischia Sauropodomorpha Prosauro...,Yates Bonnan Neveling Chinsamy and Blackbeard ...,celestae,https://www.nhm.ac.uk/discover/dino-directory/...
1,abelisaurus,carnivorous,Late Cretaceous 74-70 million years ago,Argentina,large theropod,9.0m,Dinosauria Saurischia Theropoda Neotheropoda C...,Bonaparte and Novas (1985),comahuensis,https://www.nhm.ac.uk/discover/dino-directory/...
2,achelousaurus,herbivorous,Late Cretaceous 83-70 million years ago,USA,ceratopsian,6.0m,Dinosauria Ornithischia Genasauria Cerapoda Ma...,Sampson (1995),horneri,https://www.nhm.ac.uk/discover/dino-directory/...
3,achillobator,carnivorous,Late Cretaceous 99-84 million years ago,Mongolia,large theropod,5.0m,Dinosauria Saurischia Theropoda Neotheropoda T...,Perle Norell and Clark (1999),giganteus,https://www.nhm.ac.uk/discover/dino-directory/...
4,acrocanthosaurus,carnivorous,Early Cretaceous 115-105 million years ago,USA,large theropod,12.0m,Dinosauria Saurischia Theropoda Neotheropoda T...,Stovall and Langston (1950),atokensis,https://www.nhm.ac.uk/discover/dino-directory/...
...,...,...,...,...,...,...,...,...,...,...
304,yuanmousaurus,herbivorous,Mid Jurassic 180-159 million years ago,China,sauropod,17.0m,Dinosauria Saurischia Sauropodomorpha Sauropod...,Lü Li Ji Wang Zhang and Dong (2006),jiangyiensis,https://www.nhm.ac.uk/discover/dino-directory/...
305,yunnanosaurus,omnivorous,Early Jurassic 205-190 million years ago,China,sauropod,7.0m,Dinosauria Saurischia Sauropodomorpha Prosauro...,Young (1942),huangi,https://www.nhm.ac.uk/discover/dino-directory/...
306,zalmoxes,herbivorous,Late Cretaceous 69 million years ago,Romania,euornithopod,3.0m,Dinosauria Ornithischia Genasauria Cerapoda Or...,Nopcsa (1902),robustus,https://www.nhm.ac.uk/discover/dino-directory/...
307,zephyrosaurus,herbivorous,Early Cretaceous 120-110 million years ago,USA,euornithopod,1.8m,Dinosauria Ornithischia Genasauria Cerapoda Or...,Sues (1980),schaffi,https://www.nhm.ac.uk/discover/dino-directory/...
308,zuniceratops,herbivorous,Late Cretaceous 94-89 million years ago,USA,ceratopsian,NaN,Dinosauria Ornithischia Genasauria Cerapoda Ma...,Wolfe and Kirkland (1998),christopheri,https://www.nhm.ac.uk/discover/dino-directory/...

In [3]:
# removing all rows with NaN values
nan_index = [125]
for i in range(dino_rawr_data.shape[0]):
    if str(dino_rawr_data.get('length')[i]) == 'nan':
        nan_index.append(i)
dino_data = dino_rawr_data.drop(nan_index).reset_index().drop(['index'], axis = 1)
dino_data

,name,diet,period,lived_in,type,length,taxonomy,named_by,species,link
0,aardonyx,herbivorous,Early Jurassic 199-189 million years ago,South Africa,sauropod,8.0m,Dinosauria Saurischia Sauropodomorpha Prosauro...,Yates Bonnan Neveling Chinsamy and Blackbeard ...,celestae,https://www.nhm.ac.uk/discover/dino-directory/...
1,abelisaurus,carnivorous,Late Cretaceous 74-70 million years ago,Argentina,large theropod,9.0m,Dinosauria Saurischia Theropoda Neotheropoda C...,Bonaparte and Novas (1985),comahuensis,https://www.nhm.ac.uk/discover/dino-directory/...
2,achelousaurus,herbivorous,Late Cretaceous 83-70 million years ago,USA,ceratopsian,6.0m,Dinosauria Ornithischia Genasauria Cerapoda Ma...,Sampson (1995),horneri,https://www.nhm.ac.uk/discover/dino-directory/...
3,achillobator,carnivorous,Late Cretaceous 99-84 million years ago,Mongolia,large theropod,5.0m,Dinosauria Saurischia Theropoda Neotheropoda T...,Perle Norell and Clark (1999),giganteus,https://www.nhm.ac.uk/discover/dino-directory/...
4,acrocanthosaurus,carnivorous,Early Cretaceous 115-105 million years ago,USA,large theropod,12.0m,Dinosauria Saurischia Theropoda Neotheropoda T...,Stovall and Langston (1950),atokensis,https://www.nhm.ac.uk/discover/dino-directory/...
...,...,...,...,...,...,...,...,...,...,...
285,yinlong,herbivorous,Mid Jurassic 159-154 million years ago,China,ceratopsian,1.2m,Dinosauria Ornithischia Genasauria Cerapoda Ma...,Xu Forster Clark and Mo (2006),downsi,https://www.nhm.ac.uk/discover/dino-directory/...
286,yuanmousaurus,herbivorous,Mid Jurassic 180-159 million years ago,China,sauropod,17.0m,Dinosauria Saurischia Sauropodomorpha Sauropod...,Lü Li Ji Wang Zhang and Dong (2006),jiangyiensis,https://www.nhm.ac.uk/discover/dino-directory/...
287,yunnanosaurus,omnivorous,Early Jurassic 205-190 million years ago,China,sauropod,7.0m,Dinosauria Saurischia Sauropodomorpha Prosauro...,Young (1942),huangi,https://www.nhm.ac.uk/discover/dino-directory/...
288,zalmoxes,herbivorous,Late Cretaceous 69 million years ago,Romania,euornithopod,3.0m,Dinosauria Ornithischia Genasauria Cerapoda Or...,Nopcsa (1902),robustus,https://www.nhm.ac.uk/discover/dino-directory/...
289,zephyrosaurus,herbivorous,Early Cretaceous 120-110 million years ago,USA,euornithopod,1.8m,Dinosauria Ornithischia Genasauria Cerapoda Or...,Sues (1980),schaffi,https://www.nhm.ac.uk/discover/dino-directory/...

In [4]:
# splitting the col. periods by ' ', to separate the period name (str), and the estimated existance time (int).
dino_data_years_split = dino_data.get('period').str.split(' ')
dino_data_years_split[97]

['Early', 'Cretaceous']

In [5]:
# initializing empty lists to be filled during the for-loop
dino_data_periods = [] # stores period name as str (eg. 'Early Cretaceous') in dino_data_periods
dino_data_years_str = [] # stores years as a str in the form ('a-b') in dino_data_years_str


for i in range(0, 290, 1):
    dino_data_periods.append(dino_data_years_split[i][0] + ' ' + dino_data_years_split[i][1])
    if len(dino_data_years_split[i]) >= 3:
        dino_data_years_str.append(dino_data_years_split[i][2])
    else:
        # for rows with only a period, and no specific time, p
        dino_data_years_str.append(0)
dino_data_years_str[28]

'147'

In [6]:
# initializing empty lists to be filled during the for-loop
dino_data_start_year = [] # stores start year as int 
dino_data_end_year = [] # stores end year as int
dino_data_span = [] #stores start_year-end_year as int
dino_empty_span_ls = []

for i in range(0,290,1):
    if dino_data_years_str[i] == 0:
        dino_data_start_year.append(0)
        dino_data_end_year.append(0)
        dino_empty_span_ls.append(i)
    else:
        years_split = dino_data_years_str[i].split('-')
        start_year = int(years_split[0])
        dino_data_start_year.append(start_year)
        if len(years_split) > 1:
            end_year = int(years_split[1])
            dino_data_end_year.append(end_year)        
        else:
            end_year = 0
            dino_empty_span_ls.append(i)
            dino_data_end_year.append(0)
    dino_data_span.append(start_year-end_year)

In [7]:
length_as_float = dino_data.get('length').str.replace('m', '').astype(float)
length_as_float

0       8.0
1       9.0
2       6.0
3       5.0
4      12.0
       ...
285     1.2
286    17.0
287     7.0
288     3.0
289     1.8
Name: length, Length: 290, dtype: float64

In [8]:
# adding the columns start year, end year, existance span
# dropping columns 'taxonomy' and 'named_by'
dino_data_clean = dino_data.assign(start_year = dino_data_start_year, \
                                   end_year = dino_data_end_year, \
                                   period = dino_data_periods, \
                                   existance_span = dino_data_span, \
                                   length = length_as_float).drop(dino_empty_span_ls).reset_index().drop(['index'], axis = 1)
# re-naming columns
dino_data_clean.rename(columns = {'start_year':'start year (mil. years ago)'}, inplace = True)
dino_data_clean.rename(columns = {'end_year':'end year (mil. years ago)'}, inplace = True)
dino_data_clean.rename(columns = {'lived_in':'lived in'}, inplace = True)
dino_data_clean.rename(columns = {'existance_span':'existance span (mil. years)'}, inplace = True)
dino_data_clean

,name,diet,period,lived in,type,length,taxonomy,named_by,species,link,start year (mil. years ago),end year (mil. years ago),existance span (mil. years)
0,aardonyx,herbivorous,Early Jurassic,South Africa,sauropod,8.0,Dinosauria Saurischia Sauropodomorpha Prosauro...,Yates Bonnan Neveling Chinsamy and Blackbeard ...,celestae,https://www.nhm.ac.uk/discover/dino-directory/...,199,189,10
1,abelisaurus,carnivorous,Late Cretaceous,Argentina,large theropod,9.0,Dinosauria Saurischia Theropoda Neotheropoda C...,Bonaparte and Novas (1985),comahuensis,https://www.nhm.ac.uk/discover/dino-directory/...,74,70,4
2,achelousaurus,herbivorous,Late Cretaceous,USA,ceratopsian,6.0,Dinosauria Ornithischia Genasauria Cerapoda Ma...,Sampson (1995),horneri,https://www.nhm.ac.uk/discover/dino-directory/...,83,70,13
3,achillobator,carnivorous,Late Cretaceous,Mongolia,large theropod,5.0,Dinosauria Saurischia Theropoda Neotheropoda T...,Perle Norell and Clark (1999),giganteus,https://www.nhm.ac.uk/discover/dino-directory/...,99,84,15
4,acrocanthosaurus,carnivorous,Early Cretaceous,USA,large theropod,12.0,Dinosauria Saurischia Theropoda Neotheropoda T...,Stovall and Langston (1950),atokensis,https://www.nhm.ac.uk/discover/dino-directory/...,115,105,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...
257,yimenosaurus,herbivorous,Early Jurassic,China,sauropod,9.0,Dinosauria Saurischia Sauropodomorpha Prosauro...,Bai Yang and Wang (1990),youngi,https://www.nhm.ac.uk/discover/dino-directory/...,195,190,5
258,yinlong,herbivorous,Mid Jurassic,China,ceratopsian,1.2,Dinosauria Ornithischia Genasauria Cerapoda Ma...,Xu Forster Clark and Mo (2006),downsi,https://www.nhm.ac.uk/discover/dino-directory/...,159,154,5
259,yuanmousaurus,herbivorous,Mid Jurassic,China,sauropod,17.0,Dinosauria Saurischia Sauropodomorpha Sauropod...,Lü Li Ji Wang Zhang and Dong (2006),jiangyiensis,https://www.nhm.ac.uk/discover/dino-directory/...,180,159,21
260,yunnanosaurus,omnivorous,Early Jurassic,China,sauropod,7.0,Dinosauria Saurischia Sauropodomorpha Prosauro...,Young (1942),huangi,https://www.nhm.ac.uk/discover/dino-directory/...,205,190,15
261,zephyrosaurus,herbivorous,Early Cretaceous,USA,euornithopod,1.8,Dinosauria Ornithischia Genasauria Cerapoda Or...,Sues (1980),schaffi,https://www.nhm.ac.uk/discover/dino-directory/...,120,110,10

In [9]:
# save cleaned dataframe as csv
dino_data_clean.to_csv('dino_data_cleaned.csv')